<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>  <!-- partial -->
    </head>

    <header>
        <%- include('../layouts/header') %>
    </header>
    <body>
        <main>
            <section>   
        
                <img src = <%= details.image %> >
                <div> 
                    <%= details.title %>
                </div>
                <div>
                    <%= details.author %>
                </div>
                <div>
                    <%= details.description %>
                </div>
                <div>
                    <li>ISBN: <%= details.isbn %></li>
                </div>
                <div>
                    <li>Bookshelf: <%= details.bookshelf %></li>
                </div>

            </section>
            
        </main>


    </body>
</html>