<form class = "modal-content" method="post">
    <input type="hidden" name="image" value="<%= details.image %>" placeholder="Image Name:"/>
    <input type="text" name="title" value="<%= details.title %>" placeholder="Book Name:"/>
    <input type="text" name="author" value="<%= details.author %>" placeholder="Author Name:"/>
    <input type="text" name="description" value="<%= details.description %>" placeholder="Book description:"/>
    <input type="text" name="isbn" value="<%= details.isbn %>" placeholder="ISBN:"/>
    <input type="text" name="bookshelf" placeholder="Bookshelf">
    <button>Update Book</button>
</form>