<!DOCTYPE html>
<html lang="en">

        <%- include('../layouts/head') %>  <!-- partial -->

        <body>
        
        <%- include('../layouts/header') %>
        
        <main>
            <h1>Search Results</h1>
        
        
            <% info.forEach(object =>{ %>
                <img src = <%= object.image %>>
                <div> 
                    <%= object.title %>
                </div>
                <div>
                    <%= object.author %>
                </div>
                <div>
                    <%= object.description %>
                </div>
                
                <form method = "POST" action = "/books">
                        <input type = "hidden" name = "title" value = "<%= object.title %>">
                        <input type = "hidden" name = "author" value = "<%= object.author %>">
                        <input type = "hidden" name = "description" value = "<%= object.description %>">
                        <input type = "hidden" name = "image" value = "<%= object.image %>">
                        <input type = "hidden" name = "isbn" value = "<%= object.isbn %>">
                        <input type = "hidden" name = "bookshelf" value = "<%= object.bookshelf %>">
                        <div>
                            <button type = "submit">Select this Book</button>
                        </div>
                </form>
                

            <% }) %>
        </main>
        
        </body> 
        
    </html>
