<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./layouts/head') %>
    </head>

    <header>
        <%- include('./layouts/header') %>
    </header>

    <body>
        <h1> <%= count %> Saved Books</h1>
        
        
            <% results.forEach(object =>{ %>
                <div>
                    <img src = <%= object.image %>>
                </div>
                
                <div> 
                    <%= object.title %>
                </div>

                <div>
                    <%= object.author %>
                </div>
            
        
        <a href = "/books/<%= object.id %>">View Details</a>

        <% }) %>
    
    </body>
</html>